= form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'second-wrapper__box'} do |f|
  = f.text_field :address_family_name_kanji, placeholder: '例) メルカリ太郎'
  = f.text_field :address_first_name_kanji, placeholder: '例) メルカリ太郎'
  = f.text_field :address_family_name_kana, placeholder: '例) メルカリ太郎'
  = f.text_field :address_first_name_kana, placeholder: '例) メルカリ太郎'
  = f.text_field :address_number, placeholder: '例) メルカリ太郎'
  = f.collection_select :address_prefecture, Prefecture.all, :id, :name, {class: "select-def"}
  = f.text_field :address_name, placeholder: '例) メルカリ太郎'
  = f.text_field :address_block, placeholder: '例) メルカリ太郎'
  = f.text_field :address_building, placeholder: '例) メルカリ太郎'
  = f.number_field :address_phone_number, placeholder: '携帯電話の番号を入力'
  = f.submit "次へ進む", class: "registration-btn-submit"
