- if user_signed_in?
  = render partial: "shared/loginHeader"  ,locals: {exhibit: @exhibit}
- else
  = render partial: "shared/header" ,locals: {exhibit: @exhibit}
.home--wrapper
  .home--content
    %main.search-main
      .search-box-right
        %section.search-box-container
          - if @result 
            %h2.search-result #{@result}
            %span.search-text の検索結果
          - else 
            %h2.search-result 検索結果
        .search-number 0 - #{@exhibit.size}件表示
        .search-item-box
          - @exhibit.each do |exhibit|
            .items-box
              = link_to "#{exhibit.id}", class: "items-box__url" do
                %figure.items-box__photo
                  = image_tag(exhibit.images[0].image.url, class:"items-box__img")
                .items-box__body
                  %h3.item-box__text #{exhibit.name}
                  .items_box__num
                    .items-box__price ￥#{exhibit.price}
      .search-box-left  
        = render partial: "shared/complex-search" ,locals: {search: @search}
= render "shared/exhibit-btn"
= render "shared/footer"