- if user_signed_in?
  = render partial: "shared/loginHeader"  ,locals: {exhibit: @exhibit}
- else
  = render partial: "shared/header" ,locals: {exhibit: @exhibit}
.home--wrapper
  -#メインコンテンツ
  .home--content
    .top--slide
      .top--slide__image
        .top--slide__image__url
          = image_tag "EGA08CtVUAEVzpA.png", class:"homeimage"
    
    .search-main
      .categories--new
       
          
        .categories--new__item--lists
          %div
            %ul.category--new
              = render partial: "shared/product-list",  collection: @exhibit, as: :exhibit
= render "shared/exhibit-btn"
= render "shared/footer"