- if user_signed_in?
  = render partial: "shared/loginHeader"  ,locals: {exhibit: @exhibit}
- else
  = render partial: "shared/header" ,locals: {exhibit: @exhibit}
.product--page
  .items_container
    %h1.items-name
      = @product.name
    .item-product
      .items-main
        .items-img-box
          .items-img-box-a
            .items-image-main
              = image_tag @image.url
            .items-image-list
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
              .items-image-elements
                = image_tag @image.url(:thumb)
      %table.item-detail
        %tbody
          %tr
            %th 出品者
            %td
              = link_to @user.nickname, user_path
          %tr.category_title
            %th カテゴリー
            %td.category_list
              =link_to "#{@category.root.name}", "#"
              =link_to ">#{@category.parent.name}", "#"
              =link_to ">#{@category.name}","#"
          %tr
            %th ブランド
            %td コーチ
          %tr
            %th 商品の状態
            %td
              = @product.status
          %tr
            %th 配送料の負担
            %td
              = @product.ship_fee
          %tr
            %th 配送の方法
            %td
              = @product.ship
          %tr
            %th 発送元地域
            %td
              = @product.prefecture
          %tr
            %th 発送日の目安
            %td 2~3日で発送
            /dateカラム未設定
    .item-price-box
      %span.iteme-price
        ¥
        = @product.price.to_s(:delimited)
      %span.iteme-tax (税込)
      %span.iteme-shipping
        = @product.ship_fee
    - if user_signed_in?
      - if @product.user_id == current_user.id
        =link_to "編集画面に進む", "/exhibit/#{@product.id}/edit",class: "buy-btn"
        =link_to "この商品を削除する",exhibit_path,method: :DELETE, class: "exhibiting-delete-button",data: {confirm: "削除確認\n削除すると二度と復活できません。\n本当に削除しますか？"}
      - else
        =link_to "購入画面に進む", "/exhibit/#{@product.id}/purchase",class: "buy-btn"
    - else
      =link_to "購入画面に進む", "/exhibit/#{@product.id}/purchase",class: "buy-btn"
    .item-message-box
      %p.item-message 
        = @product.description
    .iteme-btn-box
      .item-btn-left
        %button.item-button{"data-ga": "element", "data-ga-category": "LIKE", "data-ga-label": "like!", "data-id": "m23133422522", "data-toggle": "like", name: "like!", type: "button"}
          %i.fa.fa-heart-o
          %span いいね!
          %span.fade-in-down{"data-num": "like"} 6
        =link_to "#",class: "item-button-report" do
          %i.fa.fa-flag-o          
          %span 不適切な商品の報告
      .item-btn-right
        =link_to "#", target: "_blank" do
          %i.fa.fa-lock
          %span あんしん・あんぜんへの取り組み
  -# コメントビュー開始
  .items_detail-message
    .message-form
      = form_for [@exhibit], url: exhibit_comments_path(:id), html: {method: 'post'} do |form|
        = fields_for @comment do|comment|
          = comment.hidden_field :exhibit_id, :value => @comment.exhibit_id
          = comment.text_area :comment, value: "",  placeholder: "コメントする" , rows: "2" , class:"textbox"
          .form-send
            = comment.submit "コメントを送信する", class:"form-send__button"
    .message-container
      .message-content 
        %ul.message-items
          - @comments.each do |comment|
            %li.clearfix
              = link_to user_path(comment.user) , {class: "message-user"} do
                %figure
                  .user-icon-image
                  %figcaption.bold
                    = comment.user.nickname
                - if @product.user == comment.user
                  .message-is-seller
                    出品者                
                - else
              .message-body
                .message-body-text                  
                  = comment.comment
                .message-icons.clearfix
                  %time.message-icon-left
                    -# ファーアイコン&befor
                    %i.fa.fa-clock-o.fa-lg.fa-flip-horizontal
                    %span
                      = time_ago_in_words(comment.created_at)
                  .message-icon-right
                    -# フォームアクション&ボタン&インプット
                    = link_to "#" do
                      %i.fa.fa-flag-o.fa-lg
                .icon-balloon 
                  -# 吹き出しの飛び出てる部分
  -# コメントビュー終了
  %ul.nav-link.clearfix
    %li.nav-link__left
      - if @exhibit.previous.present?
        = link_to exhibit_path(@exhibit.previous) do
          %i.fa.fa-chevron-left 
          = @exhibit.previous.name
    %li.nav-link__right
      - if @exhibit.next.present?
        = link_to exhibit_path(@exhibit.next) do
          = @exhibit.next.name
  .media-box
    %ul.media-box__social
      %li
        =link_to "#" do
          %i.fa.fa-facebook-official.proface
      %li
        =link_to "#" do
          %i.fa.fa-twitter-square.protwi
      %li
        =link_to "#" do
          %i.fa.fa-pinterest-square.propin          
  .product--indexes
    %section.product--index
      %h2.product--index__caption
        = link_to "#{@user.nickname}さんその他の出品", "#"
      .product--index__item--lists
        - @products.each do |item|
          - image_item = @images.where(exhibit_id: item.id).first
          %section.list--card 
            = link_to exhibit_path(item.id) do
              = image_tag "#{image_item.image.url}", class:"list--card__image"
              %div.list--url
                %h3.list--url__content
                  = item.name
                .list--url__under
                  .list--url__under__price
                    ¥#{item.price}
  = render "shared/footer"