%body.mypage
  - if user_signed_in?
    = render "shared/loginHeader"
  - else
    = render "shared/header"
  - breadcrumb :mypage_card
  = render "layouts/breadcrumbs"
  %main.container.clearfix
    .i-content.change-profile
      %h2.card-content__head
        支払い方法
      .card-content__middle
        %p.card-content__middle-text
          クレジットカード一覧
        .card-content-btnbox
          = link_to regi_card_user_path(current_user), class:"card-btn-submit" do
            %i.fa.fa-credit-card
            クレジットカードを追加する
        .card-content-textbox
          = link_to root_path, class:"card-content__bottom-text" do
            支払い方法について
            %i.fa.fa-chevron-right
    .mypage-l-side
      = render 'shared/sidebar'
  = render "shared/footer"