%li.category--new__list
  %div.category--new__list__content
    = link_to "/exhibit/#{exhibit.id}", class: "list--url" do
      %figure.list--url__content
        .list--url__content__image
          %span{ aria: {label: "Price"}}
            ¥#{exhibit.price.to_s(:delimited)} 
          = image_tag(exhibit.images[0].image.url, class:"index-picture")
        %figcaption
          %span
            #{exhibit.name}