%body
  .header
    .header__main
      .header__top
        .header__logo
          %svg{:viewbox => "0 0 281.19 84.08", :xmlns => "http://www.w3.org/2000/svg"}
          %defs
          %title アセット 3
          %g{"data-name" => "レイヤー 2", :id => "レイヤー_2"}
            %g{"data-name" => "レイヤー 1", :id => "レイヤー_1-2"}
              %polygon.cls-1{:points => "36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"}
              %polyline.cls-1{:points => "0.5 21.31 36.41 42.04 72.32 21.31"}
              %polyline.cls-1{:points => "36.41 83.5 36.41 49.36 36.41 42.04"}
              %line.cls-1{:x1 => "36.41", :x2 => "0.5", :y1 => "52.41", :y2 => "31.67"}
              %line.cls-1{:x1 => "72.32", :x2 => "36.41", :y1 => "33.2", :y2 => "50.88"}
              %text.cls-2{:transform => "translate(86.41 62.77)"} Fmarket
        .header__form
          %form#form2{:action => "", :method => "get"}
          %input#sbox2{:name => "s", :placeholder => "何かをお探しですか？", :type => "text"}/
          %button#sbtn2{:type => "submit", :value => "btm",}
      .header__down
        .header__list
          .header__listbox
            .header__itemlist
            %i.fa.fa-list-ul
            カテゴリーから探す
          .header__brandlist
          %i.fa.fa-list-alt
            ブランドから探す
        .header__login
          新規登録
          ログイン
  %nav.mypage-header-nav
    %ul.mypage-header-nav__ul
      %li
        = link_to "メルカリ", root_path, class:"nav-mercari_mercari"
        %i.fa.fa-angle-right
      %li
        = link_to "マイページ", root_path, class:"nav-mercari_mypage" 
  %main.container.clearfix
    .i-content
      %section.mypage-user__icon
        %a.mypage-user__icon-container{:href => "#"}
          .mypage-user__icon-container-picture
            %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
          %h2.mypage-user-name
            UserName
          .mypage-number
            .mypage-number__text
              評価
              %span.mypage-bold
                4
            .mypage-number__text
              出品数
              %span.bold
                5
      %section.mypage-tab-container
        %ul.mypage-tabs
          %li.active
            %h3 
              = link_to "お知らせ", root_path, class:"main-info"
          %li
            %h3
              = link_to "やることリスト", root_path, class:"main-info"
        .mypage-tab__content
          %ul#mypage-tab__notification
            %li 
              %a.mypage-tag__item__link{:href => "#"}
                .mypage-item__picture
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item__body
                  .mypage-item__text
                    「今なら販売手数料無料！詳細はこちらから」
                  %time
                    %i.fa.fa-clock-o
                      %span 
                        1時間前
                  %i.fa.fa-chevron-right
            %li 
              %a.mypage-tag__item__link{:href => "#"}
                .mypage-item__picture
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item__body
                  .mypage-item__text
                    「タイムセール実施中！詳細はこちらから」
                  %time
                    %i.fa.fa-clock-o
                      %span 
                        2時間前
                  %i.fa.fa-chevron-right
            %li.mypage-go__list
              %a.mypage-index{:href => "#"}
                一覧を見る
      %section.mypage-info__container
        %h2.mypage-info__container__tag-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3 
              = link_to "取引中", root_path, class:"main-info"
          %li
            %h3
              = link_to "過去の取引", root_path, class:"main-info"
        .mypage-tab__content
          %ul#mypage-tab__notification
            %li 
              %a.mypage-tag__item__link{:href => "#"}
                .mypage-item__picture
                  %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
                .mypage-item__body
                  .mypage-item__text
                    「いちばんよくわかるHTML5 & CSS3デザインきちんと入門」を購入しました。取引が完了しました。
                  %time
                    %i.fa.fa-clock-o
                      %span 
                        1時間前
                  %i.fa.fa-chevron-right
            %li 
              %a.mypage-tag__item__link{:href => "#"}
                .mypage-item__picture
                  %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
                .mypage-item__body
                  .mypage-item__text
                    「PHPの絵本」を購入しました。取引が完了しました。
                  %time
                    %i.fa.fa-clock-o
                      %span 
                        2時間前
                  %i.fa.fa-chevron-right
            %li.mypage-go__list
              %a.mypage-index{:href => "#"}
                一覧を見る
    .mypage-l-side
      .mypage-l-side__nav
        %ul.mypage-l-side__nav-ul
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item.active{:href => "#"}
              マイページ
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              お知らせ
              %span.mypage-l-side-nav-ul__list-item__number
                10
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              やることリスト
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              いいね！一覧
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              出品する
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              出品した商品 - 出品中
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              出品した商品 - 取引中
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              出品した商品 - 売却済み
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              購入した商品 - 取引中
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              購入した商品 - 過去の取引
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              ニュース一覧
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              評価一覧
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              ガイド
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              お問い合わせ
              %i.fa.fa-chevron-right
        %h3.mypage-nav-head
          メルペイ
        %ul.mypage-l-side__nav-ul
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              残高・振込申請
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              ポイント
              %i.fa.fa-chevron-right
        %h3.mypage-nav-head
          設定
        %ul.mypage-l-side__nav-ul
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              プロフィール
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              発送元・お届け先住所変更
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              支払い方法
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              メール/パスワード
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              本人情報
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              電話番号の確認
              %i.fa.fa-chevron-right
          %li.mypage-l-side__nav-ul__list
            %a.mypage-l-side-nav-ul__list-item{:href => "#"}
              ログアウト
              %i.fa.fa-chevron-right