= render "shared/header"
.home--wrapper
  -#メインコンテンツ
  .home--content
    .top--slide
      .top--slide__image
        .top--slide__image__url
          = image_tag "EGA08CtVUAEVzpA.png", class:"homeimage"
    .popular--category
      -#人気のカテゴリ４種類
      %h2.popular--category__title
        人気のカテゴリー
      .popular--category__button
        %ul.category--button
          %li.category--button__list
            = link_to "レディース", "#",class: "category--button__list__url"
          %li.category--button__list
            = link_to "メンズ", "#",class: "category--button__list__url"
          %li.category--button__list
            = link_to "家電・スマホ・カメラ", "#",class: "category--button__list__url"
          %li.category--button__list
            = link_to "おもちゃ・ホビー・グッズ", "#",class: "category--button__list__url"
    .home--categories
      .categories--new
        %div{ name: "category1", class: "categories--new__caption"}
          %h3.categoies--new__caption__name
            レディース新着アイテム
          = link_to "#", class: "categories--new__caption__add" do
            %span もっと見る
            %i.fa.fa-chevron-right
        .categories--new__item--lists
          %div
            %ul.category--new
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
              %li.category--new__list
                %div.category--new__list__content
                  = link_to "#", class: "list--url" do
                    %figure.list--url__content
                      .list--url__content__image
                        %span{ aria: {label: "Price"}}
                          ¥60,000
                        = image_tag "8a346a0a-60497.png"
                      %figcaption
                        %span
                          可愛い小鳥
= render "shared/footer"